/*                                         Mobile View                                         */
@media (max-width: 600px) {

    .banner-section {
        .title {
            font-size: 30px;
        }
    }


    .description {
        font-size: 18px;
    }

    .illustration {
        height: 100px;

    }

}