@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/*
            Roboto
font-family: 'Roboto', sans-serif;

            Bebas
font-family: "BebasNeueRegular", sans-serif;

            Comfortaa
font-family: 'Comfortaa', sans-serif;

*/